* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: #1e1e1e;
  overflow-x: hidden;
}

.sidebar {
  border: 1px solid #2c2c2c;
  width: 20%;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  background-color: #2a2a2a;
  padding: 10px;
}

.extensivel {
  border-radius: 6px;
  margin: 10px 0;
  overflow: hidden;
}

.extensivel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
  background-color: #353535;
}

.extensivel-header:hover {
  background-color: #9a9a9a;
}

.extensivel-header p {
  padding-left: 10px;
}

.lista {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.2s ease;
}

.lista:hover {
  background-color: #919191;
}

.lista p {
  padding-left: 10px;
}

.linha {
  width: 100%;
  border: 1px solid rgb(53, 53, 53);
  margin: 15px 0;
}

.conta {
  display: flex;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.nome {
  font-size: 18px;
}

.letra {
  padding-left: 10px;
}

.letra p {
  font-size: 12px;
}

.imagem {
  background-image: url("/vitor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

#main-content {
  margin-left: 20%;
  width: 80%;
  min-height: 100vh;
}

.container {
  display: grid;
  width: calc(80vw - 10px);
  height: 200vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.3fr 7fr 1fr 3fr;
  grid-template-areas:
    "title title title title"
    "pageviews monthlyusers newsignups subscriptions"
    "revenue revenue revenue revenue"
    "overview overview overview overview"
    "ubd ubd ubc ubc";
  gap: 10px;
  padding: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.title {
  grid-area: title;
}

.pageviews {
  border: 1px solid rgb(109, 109, 109);
  grid-area: pageviews;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  background-color: #292929;
}

.monthlyusers {
  border: 1px solid rgb(109, 109, 109);
  grid-area: monthlyusers;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  background-color: #292929;
}

.newsignups {
  border: 1px solid rgb(109, 109, 109);
  grid-area: newsignups;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  background-color: #292929;
}

.subscriptions {
  border: 1px solid rgb(109, 109, 109);
  grid-area: subscriptions;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  background-color: #292929;
}

.revenue {
  border: 1px solid rgb(109, 109, 109);
  grid-area: revenue;
  background-color: #292929;
  border-radius: 15px;
  padding: 30px;
}

.overview {
  grid-area: overview;
  display: flex;
  align-items: center;
}

.ubd {
  grid-area: ubd;
  border: 1px solid rgb(109, 109, 109);
  background-color: #292929;
  border-radius: 15px;
  padding: 30px;
}

.ubc {
  grid-area: ubc;
  border: 1px solid rgb(109, 109, 109);
  background-color: #292929;
  border-radius: 15px;
  padding: 30px;
}

.extensivel-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  pointer-events: none;
  transition: max-height 0.5s ease-in-out;
  background-color: #353535;
}

.extensivel-content.open {
  max-height: 2000px;
  pointer-events: auto;
  padding: 10px;
}

.selected {
  background-color: #4a4a4a;
}

.nome1 {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 7px;
}

.subtitulo {
  color: #a0a0a0;
}

.titulo1 {
  color: #a0a0a0;
  font-size: 18px;
}

.bxr {
  position: relative;
  top: 3px;
  font-size: 20px;
}

.destaque {
  font-weight: bold;
  font-size: 30px;
}

.revenue .titulo1 {
  padding-bottom: 10px;
}

input {
  width: 15%;
  height: 25%;
  background-color: #4a4a4a;
  border: 1px solid #292929;
  border-radius: 5px;
}

.paises {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;
}

.pais {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4a4a4a;
  padding-top: 10px;
}

.pais1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4a4a4a;
}

.pais2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4a4a4a;
}

.pais3 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4a4a4a;
}

.pais4 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #4a4a4a;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
  
  .container {
    width: 100vw
  }

  #main-content {
  margin-left: 0;
  width: 100vw;
}
}